body {
        color: #5e1115; 
        font-family: Arial, Helvetica, sans-serif;
      
          
          }h1 {
        font-size: 100px;
      }
      
      .ulone li {
        
        float: right;
        display: inline-block;
        margin: 7px 10px ;
      }
      
      
      header{
        padding: 35px 30px;
        background-color:#39a6b2;
      }
      header h1 {
        font-weight:bold; 
        font-size: 35px;
      color: #fce138;
      margin: 0;
      }
      header a {
        text-decoration: none;
        color:#af2359;
        
      }
      footer {
        background: #fce138;
        width: 100%;
        padding: 40px 35px;
      }
      footer h2 {
        display: inline;
        color:#024e76;
        font-size: 30px;
        margin: 0;
      
      }
      footer div {
        float: right;
        line-height: 1;
        text-align: right;
      }
      footer a {
        color: #024e76;
      }
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      section{
              padding: 60px;
              background-image: url("../images/hero-bg.jpg");
              height: 600px;
              background-size: cover;
              background-position: center;
      }
      .hero {
      
          background-color: #fce138;
          padding: 20px;
          width: 500px;
          color: #024e76;
          border-style: solid;
          border-width: 3px;
         border-color: #024e76
}
    .hero{
      position: absolute;
      bottom: 100px;
      right: 120px;
      height: 300px;
      width: 300;
      margin: 5px 0 15px 0 ;
}
.hero h3 {
  font-size: 24px;
  margin: 0;
}

.hero p {
  margin: 5px 0 15px 0;
}


.form-input {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;
}
#test {
  color: aliceblue;
  background-image: url("../images/hero-bg.jpg");
}